COMPOSE_PROJECT_NAME=
TZ=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

USER_UID=
USER_GID=
GITEA_HTTP_PORT=
GITEA_SSH_PORT=
GITEA_ROOT_URL=
GITEA_SSH_DOMAIN=

GITEA_MIRROR_PORT=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
PUBLIC_BETTER_AUTH_URL=
BETTER_AUTH_TRUSTED_ORIGINS=
