DIUN_NOTIF_TELEGRAM_TOKEN=
DIUN_NOTIF_TELEGRAM_CHATIDS=
DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true
DIUN_WATCH_SCHEDULE=0 0 * * *
DIUN_WATCH_WORKERS=10
DIUN_WATCH_JITTER=30s
TZ=UTC
LOG_LEVEL=info
LOG_JSON=false
